/*
    #501f3a - бордовый
    #cd2d6f - розовый
    #cccccc - слоновая кость
    #14a098 - бирюзовый
    #0f292f - темно бирюзовый
*/
*,
*::after,
*::before{
	box-sizing: border-box;
}

@font-face {
    font-family: "Russo One";
    src: url("/media/el-master/SSD/practice/code/fonts/RussoOne-Regular.ttf");
}

header {
	width: 100%;
	height: 275px;
	background-color: #0f292f;
}

.headerText {
    font-family: "Russo One";
	text-align: center;
	padding: 70px;
	font-size: 100px;
	color: whitesmoke;
}

nav ul{  
 	list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    font-size: 30px;   
    font-family: "Russo One";
    color: whitesmoke;
    text-decoration: none;
}

h1{
    color: #cd2d6f;
    font-family: "Russo One";
	font-size: 60px;
}

section {
    padding-top: 20px;
    margin-left: 5%;
    margin-bottom: 10px;
    background-color: #fff;

}
/*блок обо мне*/
/*фотогаллерея*/
.About{
    margin-top: 10px;
	white-space: nowrap;
    height: 700px;
}

.info{
	white-space: normal;	
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.container {
    position: relative;
    padding-right: 20px;
}

.mySlides{
    display: none;
}

.cursor {   
    cursor: pointer;
}

.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    left: 24.1%;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
    content: "";
    display: none;
    clear: none;
}
  
.column {
    padding: 0px;
    float: left;
}
  
.demo{
    opacity: 0.6;
}

.active,.demo:hover {
    opacity: 1;
}

/*контактная информация*/
.rectangle {
    margin-right: 10%;
    list-style: none; 
    font: 35px "Russo One";
}

.rectangle li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    background: #D3D4DA;
    color: #cccccc;
    text-decoration: none;
}

.rectangle li:hover {background: #DCDDE1;}       

.rectangle li:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle li:hover:after {
    left: -.5em;
    border-left-color: #9097A2;
}

.fio{
    color:#14a098;
    font-size: 30px;
}

.ind{
    color:#0f292f;
    font-size: 30px;
}

/*опыт*/
.rectangle1{
    height: 700px;
    margin-right: 5%;
    list-style: none; 
    position: relative;
    display: block;
    background: #cccccc;
    text-decoration: none;
}

.exp{
    width: 45%;
    float: left; 
    padding-right: 10px; 
    padding-bottom: 10px; 
}

.expText{
    font: 37px "Russo One";
    color: #0f292f;
    padding: 7px;
    text-indent: 3%;
}

.marki{
    background-color: #14a098;
    color: white;
}

/*скилы*/
.Scills {
    margin-top: 10px;
	white-space: nowrap;
    height: 600px;
}

.scills{
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

.textskills{
    font-family: "Russo One";
	font-size: 45px;
    color: #14a098;
}

.rounded{
    counter-reset: li; 
    list-style: none; 
    font: 35px "Russo One";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em;
    background: #DAD2CA;
    color: #0f292f;
    text-decoration: none;
    border-radius: .3em;
}

.rounded li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #cccccc;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

/*блок о себе*/
.live{
    height:700px;
}

.textlive{
    font: 27px "Russo One";
    color: #14a098;
}

.txtlive{
    font: 30px "Russo One";
    color: #0f292f;
}

.rectangle2{
    height: 330px;
    margin-right: 5%;
    list-style: none; 
    position: relative;
    display: block;
    background: #cccccc;
    text-decoration: none;
}

.txtphoto{
    float: left; 
    padding-right: 10px; 
    padding-bottom: 10px;   
}

.rectangle3{
    height: 100px;
    position: relative;
    display: block;
    background: #0f292f;
    text-decoration: none;
}