/*
    #501f3a - бордовый
    #cd2d6f - розовый
    #cccccc - слоновая кость
    #14a098 - бирюзовый
    #0f292f - темно бирюзовый
*/
*,
*::after,
*::before{
	box-sizing: border-box;
}

@font-face {
    font-family: "Russo One";
    src: url("/media/el-master/SSD/practice/code/fonts/RussoOne-Regular.ttf");
}

header {
	width: 100%;
	height: 275px;
	background-color: #0f292f;
}

.headerText {
    font-family: "Russo One";
	text-align: center;
	padding: 70px;
	font-size: 70px;
	color: whitesmoke;
}

nav ul{  
 	list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    size: 100px;  
    font-family: "Russo One";
    color: whitesmoke;
    text-decoration: none;
}

section {
    padding: 0px;
    background-color: #fff;
   	height: 500px;
}

.Scills {
	white-space: nowrap;
}
.scills{
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
